/* Stored variables */
:root {
  --primary-color: #007bff;
  --secondary-color: #0056b3;
  --light-gray: #f0f0f0;
  --dark-gray: #333;
  --light-background-color: #F8FAFC;
  --dark-background-color: #021526;
  --light-text-color: #333;
  --dark-text-color: #eee;
  --light-blur-background: rgba(240, 240, 240, 0.7);
  --dark-blur-background: rgba(10, 10, 10, 0.7);
  --light-modal-background: #fff;
  --dark-modal-background: #111;
  --font-family-inter: 'Inter', sans-serif;
  --font-family-poppins: 'Poppins', sans-serif;
}

/* Common styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: var(--font-family-inter), sans-serif;
  background-color: var(--light-background-color);
  color: var(--light-text-color);
  transition: background-color 0.3 ease, color 0.3 ease;
}

header,
footer {
  backdrop-filter: blur(20px);
  background-color: var(--light-blur-background);
  transition: background-color 0.3s ease;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 0.7rem 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

nav li {
  margin: 0 1rem;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: var(--dark-gray);
  font-weight: normal;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

nav a:hover,
nav a.active {
  color: var(--primary-color);
}

nav a.active{
  font-weight: bold;
  text-decoration: underline;
}

main {
  text-align: center;
  width: 100%;
  padding-top: 1.2rem;
}

h1, 
h2, 
h3, 
h4 {
  font-family: var(--font-family-poppins), sans-serif;
  text-align: center;
}

p {
  text-align: left;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2rem;
  width: 100%;
  gap: 2rem;
}

.profile h2 {
  margin-bottom: 1rem;
}

.img-container {
  width: 300px;
  border-radius: 50%;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.emoji {
  font-size: 1rem;
  vertical-align: middle;
  margin-left: 0.2rem;
}

footer {
  width: 100%;
  padding: 1rem;
  color: var(--dark-gray);
  transition: color 0.3s ease;
}

footer p,
footer i {
  text-align: center;
  justify-content: center;
  color: var(--dark-gray);
  transition: color 0.3s ease;
}

footer i {
  padding: 0.5rem;
}

footer i:visited {
  color: inherit;
}
/* Common Styles End */

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/* home.html styles*/
.main .welcome-text {
  text-align: left;
  flex: 1;
}

.main .welcome-text a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--dark-gray);
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

.main .welcome-text a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.main .welcome-text a:visited {
  color: inherit;
  text-decoration: none;
}

.portfolio {
  padding: 2rem 0;
}

.portfolio h2 {
  margin-bottom: 1.5rem;
}

.projects-container,
.more-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem 0;
}

.project {
  flex-basis: calc(25% - 2rem);
  min-height: 200px;
  flex-grow: 0;
  flex-shrink: 1;
  border-radius: 12px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0.8rem 0;
}

.project h4 {
  margin-bottom: 0.8rem 0;
  text-align: center;
}

.project img,
.project iframe {
  max-width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 12px;
  padding: 0.5rem 0;
  box-sizing: border-box;
}

.project iframe {
  width: 100%;
  height: auto;
}

.project a.link {
  display: inline-block;
  margin-top: auto;
  padding: 0.4rem 0.8rem;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3 ease;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}

.project a.link:hover {
background-color: var(--secondary-color);
text-decoration: underline;
color: white;
}

.project a.link:visited {
color: inherit;
}

details {
  margin-top: 1.5rem;
  width: 100%; 
}

summary {
  cursor: pointer;
  padding: 1rem;
  color: var(--primary-color);
  transition: color 0.3s ease;
  list-style: none;
  text-decoration: none;
  font-weight: 500;
}

summary::marker {
  display: none;
}

summary:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: var(--light-gray);
  margin: 5% auto;
  padding: 20px;
  border-radius: 12px;
  width: 80%;
  max-width: 800px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-img,
.modal-content iframe {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
  margin: 10px auto;
  object-fit: contain;
}

.modal-content iframe {
  width: 100%;
  height: auto;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 101;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close:hover {
  color: var(--dark-gray);
}

.modal-img, 
.modal-content iframe {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
  margin: 10px auto;
  object-fit: cover;
}

.modal:target {
  display: block;
}

/* End of style for elements in home.html */

/* ––––––––––––––––––––––––––––––––––––––––––––––– */

/* Style for elements in about.html */
.text-intro-CV {
  flex: 1;
  order: 2;
  text-align: left;
  max-width: 60%;
}

.text-intro-CV a {
  display: block;
  color: var(--primary-color);
  transition: color 0.3s ease;
  font-weight: 500;
  text-decoration: none;
}

.text-intro-CV a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

/* Here begins pop-up with CV */
.CV-container {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4);
}

.CV-content {
  background-color: white;
  margin: 5% auto;
  padding: 2rem;
  border: 1px solid var(--dark-gray);
  width: 90%;
  max-width: 900px; 
  position: relative; 
  border-radius: 12px;
  font-family: var(--font-family-inter), sans-serif;
}

.CV-content h2,
.CV-content h3 {
  font-family: var(--font-family-poppins), sans-serif;
  margin-bottom: 1rem;
  text-align: center;
}

.CV-content h4,
.CV-content li {
  text-align: left;
}

.education,
.professional-experience,
.skills {
  font-family: var(--font-family-poppins), sans-serif;
  margin-bottom: 1rem;
}

.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}

.timeline dt {
  margin-bottom: 0.5rem;
  text-align: left;
  font-weight: bold;
}

.timeline dd {
  padding-left: 0;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  text-align: left;
  vertical-align: top;
}

.languages-list {
  list-style: none;
  padding: 0;
}

.languages-list dt {
  text-align: left;
  margin-bottom: 0.5rem;
  padding-left: 20px;
}

.close {
  color: #aaa;
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 101;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3 ease;
}

.close:hover {
  color: var(--dark-gray);
}

/* Visa modalen när man klickar på knappen */
.CV-container:target {
  display: block;
}
/* End expandable CV */
/* End of style for elements in about.html */

/* –––––––––––––––––––––––––––––––––––––––––––––– */

/* Style for elements in contact.html */

.contact-info {
  flex: 1;
  order: 2;
  text-align: left;
  max-width: 60%;
}

.contact-info h2 {
  margin-bottom: 1rem;
}

.contact-list {
  list-style: none;
  padding: 0;
}

.contact-list li {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.contact-list i {
  margin-right: 0.5rem;
  width: 1.2rem;
  text-align: center;
}

.contact-list a {
  color: var(--dark-gray);
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-list a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

/* End of style for elements in contact.html */

/* ––––––––––––––––––––––––––––––––––––––––––––––– */

/* Responsive Adjustments */
@media (max-width: 767px) { /* Styles for small screens */
  
  .project {
    flex-basis: calc(50% - 2rem);
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
  }

  .img-container {
    margin-bottom: 1rem;
  }

  .welcome-text {
    text-align: center;
  }

  .profile {
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      width: 100%;
  }

  .text-intro-CV, .contact-info {
      max-width: 90%;
      text-align: center;
  }

  .text-intro-CV {
      order: 2;
  }

  .profile .img-container {
      width: 200px;
  }
}

/* End Responsive Adjustments */

/* –––––––––––––––––––––––––––––––––––––––––––––––– */

/* Print Responsive Adjustments */

  /* To do */

/* End Print Responsive Adjustments */

/* ––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
  }

  header,
  footer {
    background-color: var(--dark-blur-background);
  }

  nav a,
  footer p,
  footer i {
    color: var(--dark-text-color);
  }

  .modal-content {
    background-color: var(--dark-modal-background);
    color: var(--dark-text-color);
    border: var(--dark-text-color);
  }

  .close {
    color: var(--dark-text-color);
  }

  h1,
  h2,
  h3,
  h4,
  p,
  .profile h2 {
    color: var(--dark-text-color);
  }

  .welcome-text a,
  .project a.link,
  summary {
    color: var(--dark-text-color);
  }
  
  .project, 
  details .more-projects .project {
    border-color: #555;
  }

  .project a.link {
    background-color: var(--primary-color);
  }

  details {
    color: var(--dark-text-color);
  }

  .CV-content {
    background-color: var(--dark-modal-background);
    color: var(--dark-text-color);
    border-color: var(--dark-text-color);
}

.timeline dt, 
.languages-list dt {
    color: var(--dark-text-color);
}

.contact-info h2,
.contact-list a {
    color: var(--dark-text-color);
}
}
/* End Dark Mode */